# Desafio 2

## Instruções básicas

O desafio 2 é sobre a extração, limpeza e manipulação de dados no INEP sobre o Censo da Educação Superior. Estão apresentados abaixo um artigo de 2016 sobre a divulgação dos dados, assim como um vídeo sobre esta masma divulgação, da edição de 2015. Além disso, está oferecido o Manual de Instruções da última edição publicada, de 2017.

Ao final, são colocadas as questões do desafio em duas partes, a primeira coletiva para ser feita em grupo, e a segunda para ser feita individual. Qualquer dúvida ou comentário, por favor procure o corpo docente.

# MEC e Inep divulgam dados do Censo da Educação Superior 2016

<br>
<img src="img/inep.png" width="550" />
<br>


Em 2016, 34.366 cursos de graduação foram ofertados em 2.407 instituições de educação superior (IES) no Brasil para um total de 8.052.254 estudantes matriculados. Os dados são do Censo da Educação Superior e foram divulgados nesta quinta feira (31) em coletiva de imprensa com a presença do ministro da Educação, Mendonça Filho, da secretária executiva do Ministério da Educação (Mec), Maria Helena Guimarães de Castro, e da presidente do Instituto Nacional de Estudos e Estatísticas Educacionais Anísio Teixeira (Inep), Maria Inês Fini.

Segundo as estatísticas apresentadas, as 197 universidades existentes no país equivalem a 8,2% do total de IES, mas concentram 53,7% das matrículas em cursos de graduação.

No ano passado, o número de matrículas na educação superior (graduação e sequencial) continuou crescendo, mas essa tendência desacelerou quando se comparado aos últimos anos. Entre 2006 e 2016, houve aumento de 62,8%, com uma média anual de 5% de crescimento. Porém, em relação a 2015, a variação positiva foi de apenas 0,2%.

## Cursos

Os cursos de bacharelado mantêm sua predominância na educação superior brasileira com uma participação de 69% das matrículas. Os cursos de licenciatura tiveram o maior crescimento (3,3%) entre os graus acadêmicos em 2016, quando comparado a 2015.

## Vagas

Em 2016, foram oferecidas mais de 10,6 milhões de vagas em cursos de graduação, sendo 73,8% vagas novas e 26,0%, vagas remanescentes. Das novas vagas oferecidas no ano passado, 33,5% foram preenchidas, enquanto apenas 12,0% das vagas remanescentes foram ocupadas no mesmo período.

## Ingressantes

Em 2016, quase 3 milhões de alunos ingressaram em cursos de educação superior de graduação. Desse total, 82,3% em instituições privadas.
Após uma queda observada em 2015, o número de ingressantes teve um crescimento de 2,2% em 2016. Isso ocorreu porque a modalidade a distância aumentou mais de 20% entre os dois anos, enquanto nos cursos presenciais houve um decréscimo no número de ingressantes de 3,7%.

## Concluintes

No ano passado, mais de um 1,1 milhão de estudantes concluíram a educação superior. O número de concluintes em cursos de graduação presencial teve aumento de 2,4% em relação a 2015. A modalidade a distância diminuiu -1,3% no mesmo período.

Entre 2015 e 2016, o número de concluintes na rede pública aumentou 2,9%. Já na rede privada a variação positiva foi de 1,4%. No período de 2006 a 2016, a variação percentual do número de concluintes em cursos de graduação foi maior na rede privada, com 62,6%, enquanto na pública esse crescimento foi de 26,5% no mesmo período.

## Censo da Educação Superior

O Censo da Educação Superior, realizado anualmente pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep), constitui-se importante instrumento de obtenção de dados para a geração de informações que subsidiam a formulação, o monitoramento e a avaliação das políticas públicas, além de ser elemento importante para elaboração de estudos e pesquisas sobre o setor. O Censo coleta informações sobre as Instituições de Educação Superior (IES), os cursos de graduação e sequenciais de formação específica e sobre os discentes e docentes vinculados a esses cursos.

Os resultados coletados subsidiam o Sistema Nacional de Avaliação da Educação Superior (Sinaes), seja no cálculo dos indicadores de Conceito Preliminar de Curso (CPC) e do Índice Geral de Cursos (IGC), seja no fornecimento de informações, como número de matrículas, de ingressos, de concluintes, entre outras. As estatísticas possibilitam ainda, através da justaposição de informações de diferentes edições da pesquisa, a análise da trajetória dos estudantes a partir de seu ingresso em determinado curso de graduação, e, consequentemente, a geração de indicadores de acompanhamento e de fluxo na educação superior.

In [ ]:
# Vídeo sobre a divulgação dos resultados do Censo da Educação Superior da edição de 2015

from IPython.display import HTML


HTML('<iframe width="640" height="360" src="https://www.youtube.com/embed/31rWZN5D_YE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

# Microdados do Censo da Educação Superior 2017 

## Manual do Usuário 

### Ministério da Educação Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira – INEP Diretoria de Estatísticas Educacionais 

O Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep), autarquia vinculada ao Ministério da Educação, tem como missão institucional produzir e disseminar informações educacionais. As estatísticas e avaliações produzidas pelo Inep visam fornecer os subsídios para a formulação e implementação de políticas voltadas para a melhoria contínua da educação no país. 

Entre as informações educacionais produzidas pelo Inep, destacam-se os dados coletados no Censo da Educação Superior, levantamento de âmbito nacional, realizado anualmente pela Diretoria de Estatísticas Educacionais em todas as Instituições de Educação Superior (IES), públicas e privadas do país. 

O Inep desenvolve uma série de ações de disseminação de dados que se encontram divulgados de forma ativa no portal do instituto na internet (www.inep.gov.br ). O presente documento figura entre os instrumentos utilizados por este Instituto para garantir a transparência requerida pela sociedade e promover a participação dos diferentes agentes sociais envolvidos nas ações educativas. 

Nesse contexto, os Microdados foram estruturados em formato CSV (CommaSeparated Values) e seus dados estão delimitados por Pipe ( | ), de modo a garantir que praticamente qualquer software estatístico, inclusive open source, consiga importar e carregar as bases de dados. 

Por meio dos Microdados é possível obter um amplo panorama da educação brasileira e, como importante ferramenta de transparência, é indubitavelmente um rico acervo sobre a educação superior do nosso país e uma fonte segura e eficaz de obtenção de dados, acessíveis aos pesquisadores, estudantes, gestores e sociedade em geral. 

#### DADOS 

Estão disponíveis no site do Inep os Microdados do Censo da Educação Superior 2017 (DM_IES, DM_CURSO, DM_DOCENTE, DM_ALUNO, DM_LOCAL_OFERTA e TB_AUX_AREA_OCDE) em formato CSV delimitados por Pipe ( | ). Os arquivos encontram-se compactados (em formato .zip) pelo software 7-zip e devem ser descompactados no diretório C:\ do seu disco rígido.  
 
#### LEIA-ME 

Este presente instrumento traz instruções fundamentais para a correta extração e manipulação dos Microdados, como orientações para abrir os arquivos nos softwares R, SPSS e SAS. É, portanto, uma espécie de “Manual do Usuário” que traz os Dicionários das Variáveis do Censo da Educação Superior 2017. 
 
#### FILTROS DA EDUCAÇÃO SUPERIOR 

É um documento que norteia o usuário na obtenção de dados em sintonia com os valores publicados nas Sinopses Estatísticas produzidas pelo INEP. Nele, são elencados, de forma simples, os principais filtros e funções que devem ser aplicados. 
 
#### ANEXO I – Dicionários de dados e Tabelas Auxiliares 

Contém, em formato .xlsx (Excel), o Dicionário de Dados do Censo da Educação Superior 2017 e também uma tabela auxiliar com o código e o nome dos países: 

1.DICIONÁRIO DE DADOS 

- TABELA DE ALUNO 
- TABELA DE CURSO 
- TABELA DE IES 
- TABELA DE LOCAL DE OFERTA 
- TABELA DE DOCENTE 
- TABELA AUXILIAR OCDE 
 
2.TABELA CONTENDO O NOME DO PAÍS DE ORIGEM OU NATURALIZAÇÃO 
 
#### ANEXO II – Questionários do Censo da Educação Superior  

Contém, em formato .pdf (Portable Document Format), os seguintes questionários do Censo da Educação Superior 2017 e estão disponíveis para download na pasta anexos: 

- MÓDULO IES 
- MÓDULO CURSO 
- MÓDULO DOCENTE 
- MÓDULO ALUNO

# DESAFIO 2

<br>
<img src="img/dh.png" width="550" />
<br>

## Parte Coletiva

### Obrigatório:

1) Tabelas com número de universidades públicas e privadas por estado e número de alunos por universidade 

2) Pergunta-se: é verdade que existe menos mulheres nos cursos de exatas? Explique com os dados.

3) Quantos cursos novos abrem por ano? 

4) Se usarmos a taxa de concluientes de um curso como variável de dificuldade dos cursos, eles tem ficado mais faceis ou mais duros ao longo do tempo? Quais as dificuldades para uma afirmação dessas?

5) Rode uma regressão multipla que explique o abandono dos cursos, será que professores mais/menos preparados influência nessas taxas?

6) Quais os cursos com maior crescimento de matriculas por região? E quais os com maior queda? Como você explicaria isso.

7) Construa uma variável "Signo" dos estudantes e explique porque ela é correlacionada com a variável "probabilidade de formação" (construir)

### Facultativo:

1) Crie um mapa das universidades no pais.

2) Alunos estrangeiros são melhores resilientes (para terminar um curso) que os brasileiros? Quais as dificuldades dessa análise?

3) Se você tivesse que abrir um curso (apenas um curso de graduação), qual seria, onde ele seria, qual a modalidade.

## Parte Individual.

### Obrigatório:

1) Pense na Hipótese de 2 universidades A e B onde X é a média de notas delas e elas tem exatamente os mesmos cursos. É possível que A_X > B_X e TODOS os cursos de B sejam melhores (notas maiores) que os de A? Explique (não são necessários códigos, apenas a explicação). Dica: paradoxo de simpson.

2) Rode uma regressão multipla que use, entre outras, a carga horária de um curso como variavel independente para explicar a idade dos alunos formados.

3) Qual a probabilidade de pegarmos um professor ao acaso no Brasil e ele ter mais do que o dobro da sua idade dado que ele é homem.

Obs: Não usar informações que não estejam na pasta Desafios nas partes **Obrigatórias**

## Data da entrega: 03 de Setembro (terça-feira)

# DESAFIO 2 - Grupo:

Nome dos integrantes do grupo

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
pd.set_option('display.max_columns', 999)

### Bases de teste

In [145]:
alunosB = pd.read_csv('3-Dados\DM_ALUNO.CSV', sep = '|', encoding='latin-1',nrows = 1000)

In [146]:
cursosB = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1',nrows = 1000)

In [147]:
docentesB = pd.read_csv('3-Dados\DM_DOCENTE.CSV', sep = '|', encoding='latin-1',nrows = 1000)

In [148]:
locaisB = pd.read_csv('3-Dados\DM_LOCAL_OFERTA.CSV', sep = '|', encoding='latin-1',nrows = 1000)

In [149]:
faculdadesB = pd.read_csv('3-Dados\DM_IES.CSV', sep = '|', encoding='latin-1',nrows = 1000)

### Dicionários

In [ ]:
categoriasAdm = {1:'Publica',2:'Publica',3:'Publica',4:'Privada',5:'Privada',6:'Privada',7:'Privada'}
UF = {12:'AC',27:'AL',13:'AM',16:'AP',29:'BA',23:'CE',53:'DF',32:'ES',52:'GO',21:'MA',31:'MG',50:'MS', 51:'MT',15:'PA',25:'PB',26:'PE',22:'PI',41:'PR',33:'RJ',24:'RN',11:'RO',14:'RR',43:'RS',42:'SC',28:'SE',35:'SP',17:'TO'}
regiao = {1: 'Norte', 2:'Nordeste',3:'Sudeste',4: 'Sul', 5:'Centro-Oeste'}

### 1 - Tabelas com número de universidades públicas e privadas por estado e número de alunos por universidade

In [249]:
faculdades = pd.read_csv('3-Dados\DM_IES.CSV', sep = '|', encoding='latin-1', usecols=['CO_IES','NO_IES','CO_REGIAO','CO_UF','TP_CATEGORIA_ADMINISTRATIVA'])

In [250]:
alunos = pd.read_csv('3-Dados\DM_ALUNO.CSV',encoding='latin-1' , sep = '|', usecols = ['CO_IES', 'IN_MATRICULA'])

In [251]:
groupFacul = faculdades

In [252]:
#Converte codigo para categoria
groupFacul['TP_CATEGORIA_ADMINISTRATIVA'] = groupFacul['TP_CATEGORIA_ADMINISTRATIVA'].replace(categoriasAdm)

In [253]:
#Converte codigo para categoria
groupFacul['CO_UF'] = groupFacul['CO_UF'].replace(UF)

In [254]:
groupFacul['CO_REGIAO'] = groupFacul['CO_REGIAO'].replace(regiao)

##### Quantas faculdades publicas e privadas temos?
Apenas 12% das universidades são publicas

In [255]:
groupFacul[['TP_CATEGORIA_ADMINISTRATIVA','CO_IES']].groupby(['TP_CATEGORIA_ADMINISTRATIVA']).count()

                             CO_IES
TP_CATEGORIA_ADMINISTRATIVA
Privada                        2162
Publica                         286

##### Quantas faculdades por UF?

In [256]:
groupFacul[['CO_UF','CO_IES']].groupby(['CO_UF']).count().sort_values(by = 'CO_IES', ascending = False).head()

       CO_IES
CO_UF
SP        611
MG        296
PR        189
RJ        136
BA        133

##### Quantas faculdades por região?

In [257]:
groupFacul[['CO_REGIAO','CO_IES']].groupby(['CO_REGIAO']).count().sort_values(by = 'CO_IES', ascending = False)

              CO_IES
CO_REGIAO
Sudeste         1121
Nordeste         517
Sul              405
Centro-Oeste     240
Norte            165

In [276]:
#groupFacul[['CO_REGIAO','CO_UF','CO_IES']].groupby(['CO_REGIAO','CO_UF']).count().sort_values(by = ['CO_REGIAO','CO_IES'],ascending = False)

In [259]:
#groupFacul[['TP_CATEGORIA_ADMINISTRATIVA','CO_UF','CO_IES']].groupby(['CO_UF','TP_CATEGORIA_ADMINISTRATIVA']).count()

In [260]:
groupAlunos = alunos[['CO_IES', 'IN_MATRICULA']].groupby('CO_IES', as_index = False).count()

In [261]:
groupAlunos.rename(columns = {'IN_MATRICULA':'QtdAlunos'}, inplace = True)

In [262]:
df = pd.merge(groupAlunos, groupFacul, how = 'inner')

#### Top 10 Faculdades, com mais alunos

In [263]:
df.sort_values('QtdAlunos', ascending = False).head(10)

,CO_IES,QtdAlunos,NO_IES,TP_CATEGORIA_ADMINISTRATIVA,CO_REGIAO,CO_UF
156,322,577780,UNIVERSIDADE PAULISTA,Privada,Sudeste,SP
148,298,553187,UNIVERSIDADE PITÁGORAS UNOPAR,Privada,Sul,PR
89,163,425218,UNIVERSIDADE ESTÁCIO DE SÁ,Privada,Sudeste,RJ
352,671,297471,UNIVERSIDADE ANHANGUERA,Privada,Centro-Oeste,MS
751,1491,255087,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada,Sul,PR
153,316,218377,UNIVERSIDADE NOVE DE JULHO,Privada,Sudeste,SP
742,1472,156224,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada,Sul,SC
579,1196,94342,CENTRO UNIVERSITÁRIO DE MARINGÁ - UNICESUMAR,Privada,Sul,PR
181,374,92333,CENTRO UNIVERSITÁRIO DAS FACULDADES METROPOLIT...,Privada,Sudeste,SP
230,466,92040,UNIVERSIDADE ANHEMBI MORUMBI,Privada,Sudeste,SP

#### Regioes e Qtd de alunos

In [264]:
df[['CO_REGIAO','CO_UF','QtdAlunos']].groupby('CO_REGIAO').sum().sort_values('QtdAlunos', ascending = False)

              QtdAlunos
CO_REGIAO
Sudeste         5226074
Sul             2567600
Nordeste        2051852
Centro-Oeste    1106384
Norte            637284

In [265]:
#df['Privada'] = 0
#df['Publica'] = 0

In [266]:
#df['Privada'][df['TP_CATEGORIA_ADMINISTRATIVA'] == 'Privada'] = df['QtdAlunos'][df['TP_CATEGORIA_ADMINISTRATIVA'] == 'Privada']

In [267]:
#df['Publica'][df['TP_CATEGORIA_ADMINISTRATIVA'] == 'Publica'] = df['QtdAlunos'][df['TP_CATEGORIA_ADMINISTRATIVA'] == 'Publica']

In [268]:
#df = df.rename(columns= {'CO_UF':'UF', 'QtdAlunos':'Total'})

In [269]:
del df['TP_CATEGORIA_ADMINISTRATIVA']
del df['CO_IES']
del df['NO_IES']

In [270]:
df = df.groupby(['CO_UF'], as_index = False).sum().sort_values('QtdAlunos', ascending = False)

In [271]:
publica = groupFacul[['CO_UF','CO_IES']][groupFacul['TP_CATEGORIA_ADMINISTRATIVA'] == 'Publica'].groupby('CO_UF', as_index = False).count()
privada = groupFacul[['CO_UF','CO_IES']][groupFacul['TP_CATEGORIA_ADMINISTRATIVA'] == 'Privada'].groupby('CO_UF', as_index = False).count()

In [272]:
df = pd.merge(df, publica)
df.rename(columns={'CO_IES':'QtdUniPub'}, inplace = True)
df = pd.merge(df, privada)
df.rename(columns={'CO_IES':'QtdUniPri'}, inplace = True)

In [273]:
df

   CO_UF  QtdAlunos  QtdUniPub  QtdUniPri
0     SP    3028471         98        513
1     PR    1458037         13        176
2     RJ    1148454         27        109
3     MG     891330         23        273
4     RS     615593         10        113
5     SC     493970          8         85
6     BA     437205         10        123
7     MS     424482          4         24
8     CE     359260          7         65
9     PE     323442         21         85
10    GO     250191          8         81
11    DF     245601          4         60
12    PA     206747          6         48
13    MA     201596          3         42
14    MT     186110          3         56
15    PB     182617          4         38
16    AM     177835          3         17
17    ES     157819          5         73
18    PI     150165          3         41
19    RN     149861          5         23
20    SE     128898          2         16
21    AL     118808          4         25
22    TO      76049          5         19
23    RO      64445          2         32
24    AP      47538          3         12
25    AC      34607          2          9
26    RR      30063          3          4

In [275]:
#Estados que tem mais alunos na publica do que na privada?
#df[df['Publica'] >= df['Privada']]

           QtdAlunos  QtdUniPub  QtdUniPri
QtdAlunos   1.000000   0.926807   0.934942
QtdUniPub   0.926807   1.000000   0.924846
QtdUniPri   0.934942   0.924846   1.000000

### 2 - Pergunta-se: é verdade que existe menos mulheres nos cursos de exatas? Explique com os dados.

In [391]:
sexo = {1:'Feminino',2:'Masculino'}

In [392]:
def mulher(x):
    if x == 1:
        return 1
    else:
        return 0

In [393]:
alunos = pd.read_csv('3-Dados\DM_ALUNO.CSV',encoding='latin-1' , sep = '|',  usecols=['TP_SEXO','CO_CURSO'])

#### Quantidade de homens vs Mulheres

In [394]:
alunos['TP_SEXO'].value_counts().rename(index = sexo)

Feminino     6449750
Masculino    5139444
Name: TP_SEXO, dtype: int64

In [395]:
round(alunos['TP_SEXO'].value_counts(normalize = True).rename(index = sexo),2)

Feminino     0.56
Masculino    0.44
Name: TP_SEXO, dtype: float64

In [396]:
alunos['Masculino'] = np.nan
alunos['Feminino'] = np.nan

In [397]:
alunos['Masculino'] = alunos['TP_SEXO'] - 1

In [398]:
alunos['Feminino'] = alunos['TP_SEXO'].apply(mulher)

In [399]:
cursoGrupo = alunos[['CO_CURSO','Masculino', 'Feminino']].groupby('CO_CURSO', as_index = False).sum()

In [400]:
cursoGrupo['Total'] = cursoGrupo['Masculino'] + cursoGrupo['Feminino']

In [401]:
cursos = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1', usecols = ['CO_CURSO','NO_CURSO', 'CO_OCDE_AREA_GERAL'])

In [402]:
cursoGrupo = pd.merge(cursoGrupo,cursos)

In [403]:
del cursoGrupo['CO_CURSO']

In [404]:
cursoGrupo = cursoGrupo.groupby(['CO_OCDE_AREA_GERAL','NO_CURSO'], as_index=False).sum()

In [405]:
cursoGrupo[['Masculino','Feminino']].sum()

Masculino    5111238
Feminino     6422739
dtype: int64

In [406]:
cursoGrupo = cursoGrupo.sort_values('Total', ascending = False)

#### Nos cursos de engenharia, mulher tem apenas 27% de representatividade,  e 60% nos de não engenharia

In [424]:
cursoGrupo[['Masculino','Feminino','Total']][cursoGrupo['NO_CURSO'].str.contains('ENGENHARIA', case = False)].sum()

Masculino    1025649
Feminino      382050
Total        1407699
dtype: int64

In [426]:
cursoGrupo[['Masculino','Feminino','Total']][~cursoGrupo['NO_CURSO'].str.contains('ENGENHARIA', case = False)].sum()

Masculino     4085589
Feminino      6040689
Total        10126278
dtype: int64

In [340]:
cursoGrupo['pMasculino'] =cursoGrupo['Masculino'] / cursoGrupo['Total']
cursoGrupo['pFeminino'] = cursoGrupo['Feminino'] / cursoGrupo['Total']

In [341]:
df = cursoGrupo.sort_values('Total', ascending = False).head(50)

In [685]:
#Quais são os cursos com mais mulheres?

#### Cursos com mais p mulheres?

In [342]:
df.sort_values('pFeminino', ascending = False).head()

,CO_OCDE_AREA_GERAL,NO_CURSO,Masculino,Feminino,Total,pMasculino,pFeminino
1191,8.0,ESTÉTICA E COSMÉTICA,938,41716,42654,0.021991,0.978009
236,1.0,PEDAGOGIA,73621,866806,940427,0.078285,0.921715
1171,7.0,SERVIÇO SOCIAL,23398,198712,222110,0.105344,0.894656
1160,7.0,NUTRIÇÃO,27661,149942,177603,0.155746,0.844254
1142,7.0,ENFERMAGEM,65796,326843,392639,0.167574,0.832426

#### Quais os cursos com mais homens?

In [343]:
df.sort_values('pFeminino', ascending = True).head()

,CO_OCDE_AREA_GERAL,NO_CURSO,Masculino,Feminino,Total,pMasculino,pFeminino
1014,5.0,ENGENHARIA MECÂNICA,163099,17895,180994,0.901129,0.098871
736,4.0,CIÊNCIA DA COMPUTAÇÃO,77143,9799,86942,0.887293,0.112707
986,5.0,ENGENHARIA ELÉTRICA,125996,17118,143114,0.880389,0.119611
937,5.0,ENGENHARIA DE COMPUTAÇÃO,36280,5148,41428,0.875736,0.124264
727,4.0,ANÁLISE E DESENVOLVIMENTO DE SISTEMAS,126026,19979,146005,0.863162,0.136838

In [364]:
df = df[['CO_OCDE_AREA_GERAL','Masculino','Feminino']].groupby('CO_OCDE_AREA_GERAL', as_index=False).sum()

In [365]:
df['Total'] = df['Masculino'] + df['Feminino']

In [366]:
df['MediaMasculino'] = round(df['Masculino'] / df['Total'],2)
df['MediaFeminino'] = round(df['Feminino'] / df['Total'], 2)

In [388]:
#Humanas 1,2 3
#Exatas 4, 5 
#Biologicas 6, 7
OCDECod = {1:'Humanas', 2:'Humanas',3:'Humanas',4:'Exatas', 5:'Exatas',6:'Biologicas', 7:'Biologicas'}

In [389]:
df

,CO_OCDE_AREA_GERAL,Masculino,Feminino,Total,MediaMasculino,MediaFeminino
0,1.0,526136,1312140,1838276,0.29,0.71
1,3.0,1788590,2249276,4037866,0.44,0.56
2,4.0,314628,144725,459353,0.68,0.32
3,5.0,912388,429198,1341586,0.68,0.32
4,6.0,103996,107674,211670,0.49,0.51
5,7.0,451334,1221041,1672375,0.27,0.73
6,8.0,50783,89722,140505,0.36,0.64

### 3 - Quantos cursos novos abrem por ano?

In [133]:
cursos = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1', usecols=['DT_INICIO_FUNCIONAMENTO'])

In [134]:
cursos.dropna(inplace=True)

In [135]:
cursos['Ano'] = cursos['DT_INICIO_FUNCIONAMENTO'].str.slice(6).astype(int)

In [136]:
cursos = cursos.sort_values('Ano',ascending = False)

In [137]:
cursos = cursos.groupby('Ano', as_index=False).count()

In [138]:
cursos = cursos.sort_values('Ano',ascending = False).head(20)

In [140]:
cursos = cursos[cursos['DT_INICIO_FUNCIONAMENTO'] > 10]
cursos = cursos[cursos['Ano'] < 2017]

In [141]:
cursos

      Ano  DT_INICIO_FUNCIONAMENTO
132  2016                     1713
131  2015                     1946
130  2014                     1872
129  2013                     1419
128  2012                     1472
127  2011                     1627
126  2010                     1900
125  2009                     2117
124  2008                     1619
123  2007                     1728
122  2006                     1891
121  2005                     1389
120  2004                     1303
119  2003                     1123
118  2002                     1195
117  2001                     1021
116  2000                      932

In [142]:
cursos['DT_INICIO_FUNCIONAMENTO'].mean()

1545.1176470588234

### 4-  Se usarmos a taxa de concluientes de um curso como variável de dificuldade dos cursos, 
eles tem ficado mais faceis ou mais duros ao longo do tempo? Quais as dificuldades para uma afirmação dessas?

In [122]:
cursos = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1')

In [123]:
cursos = cursos[['NO_CURSO','DT_INICIO_FUNCIONAMENTO','QT_MATRICULA_TOTAL','QT_CONCLUINTE_TOTAL']][cursos['NO_CURSO'] == 'EDUCAÇÃO FÍSICA']

In [124]:
#Se livra dos que não tem data
cursos.dropna(inplace = True)

In [125]:
#Converte para número
cursos['Ano'] = cursos['DT_INICIO_FUNCIONAMENTO'].str.slice(6).astype(int)

In [126]:
df = cursos.groupby('Ano', as_index = False).sum()

In [127]:
df = df[df['QT_MATRICULA_TOTAL'] > 0]
df = df[df['QT_CONCLUINTE_TOTAL'] > 0]

In [128]:
df.corr()

                          Ano  QT_MATRICULA_TOTAL  QT_CONCLUINTE_TOTAL
Ano                  1.000000            0.545897             0.462835
QT_MATRICULA_TOTAL   0.545897            1.000000             0.941597
QT_CONCLUINTE_TOTAL  0.462835            0.941597             1.000000

In [129]:
df['ProporcaoConcluentes'] = df['QT_CONCLUINTE_TOTAL'] / df['QT_MATRICULA_TOTAL']

In [130]:
df['ProporcaoConcluentes'].mean()

0.1710700630441744

In [143]:
df.sort_values('Ano',ascending = False).head(20)

     Ano  QT_MATRICULA_TOTAL  QT_CONCLUINTE_TOTAL  ProporcaoConcluentes
52  2017                6796                   11              0.001619
51  2016               20759                  327              0.015752
50  2015               16770                  345              0.020572
49  2014               65351                12116              0.185399
48  2013                5177                  827              0.159745
47  2012               13396                 2825              0.210884
46  2011                8577                 1892              0.220590
45  2010               15026                 2400              0.159723
44  2009               15554                 3037              0.195255
43  2008               13616                 2777              0.203951
42  2007               24735                 4975              0.201132
41  2006               13477                 2593              0.192402
40  2005               14311                 2678              0.187129
39  2004               14434                 2806              0.194402
38  2003                7973                 1388              0.174088
37  2002                9496                 1967              0.207140
36  2001                5771                 1216              0.210709
35  2000                8847                 1603              0.181191
34  1999                5655                 1329              0.235013
33  1998                3645                  858              0.235391

In [844]:
#Descobrir quais cursos tem a melhor taxa de aprovação

In [845]:
cursos = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1')

In [846]:
cursos = cursos[['NO_CURSO','DT_INICIO_FUNCIONAMENTO','QT_MATRICULA_TOTAL','QT_CONCLUINTE_TOTAL']]

In [847]:
cursos.dropna(inplace = True)

In [852]:
cursos = cursos[cursos['QT_MATRICULA_TOTAL'] > 0]
cursos = cursos[cursos['QT_CONCLUINTE_TOTAL'] > 0]

In [857]:
cursos = cursos.groupby('NO_CURSO').sum()

In [861]:
cursos = cursos.sort_values('QT_MATRICULA_TOTAL', ascending = False).head(50)

In [862]:
cursos['ProporcaoConcluentes'] = cursos['QT_CONCLUINTE_TOTAL'] / cursos['QT_MATRICULA_TOTAL']

In [864]:
cursos.sort_values('ProporcaoConcluentes')

,QT_MATRICULA_TOTAL,QT_CONCLUINTE_TOTAL,ProporcaoConcluentes
NO_CURSO,,,
FÍSICA,30207,2778,0.09196543847452578
CIÊNCIA DA COMPUTAÇÃO,57383,5965,0.1039506474042835
MEDICINA VETERINÁRIA,80214,9073,0.11310993093474954
CIÊNCIAS ECONÔMICAS,46494,5499,0.11827332559039876
ENGENHARIA MECÂNICA,108586,12930,0.11907612399388504
ENGENHARIA DE CONTROLE E AUTOMAÇÃO,24819,2970,0.11966638462468271
FISIOTERAPIA,140780,17116,0.1215797698536724
ENGENHARIA ELÉTRICA,81409,9946,0.1221732240907025
QUÍMICA,44692,5557,0.12433992660878905
MATEMÁTICA,81274,10368,0.12756847208209268
AGRONOMIA,69266,8844,0.12768169087286693
DIREITO,858204,113459,0.13220516334111704
SISTEMAS DE INFORMAÇÃO,54504,7244,0.1329076765008073
PSICOLOGIA,225703,30233,0.13395036840449617
ENGENHARIA QUÍMICA,35837,4838,0.1350001395206072
LETRAS - INGLÊS,25139,3396,0.13508890568439477
ARQUITETURA E URBANISMO,136815,18588,0.13586229580089904
NUTRIÇÃO,106819,14535,0.13607129817729055
MEDICINA,122979,17130,0.13929207425658038
FILOSOFIA,24549,3472,0.14143142286854862
ENFERMAGEM,258630,37361,0.14445733286935003
FARMÁCIA,98514,14482,0.1470044866719451
ENGENHARIA DE PRODUÇÃO,115669,17236,0.14901140322817696
GEOGRAFIA,54424,8356,0.15353520505659268
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS,84259,13152,0.1560901506070568
ENGENHARIA CIVIL,276968,43383,0.15663542358684035
BIOMEDICINA,56113,8795,0.15673729795234617
HISTÓRIA,85486,13563,0.15865755796270734
LETRAS - PORTUGUÊS E INGLÊS,27390,4390,0.16027747353048558
CIÊNCIAS CONTÁBEIS,341875,55161,0.16134844606946983
CIÊNCIAS BIOLÓGICAS,103677,16743,0.16149194131774647
ODONTOLOGIA,99898,16687,0.1670403811888126
LETRAS - PORTUGUÊS,25412,4284,0.1685817723909964
ADMINISTRAÇÃO,653601,111793,0.17104165997298046
JORNALISMO,31853,5496,0.1725426176498289
GESTÃO DA TECNOLOGIA DA INFORMAÇÃO,27241,4752,0.17444293528137733
COMUNICAÇÃO SOCIAL - PUBLICIDADE E PROPAGANDA,55961,10150,0.18137631564839798
GESTÃO COMERCIAL,33648,6276,0.18651925820256776
PEDAGOGIA,665205,124214,0.18673040641606722
LETRAS - LÍNGUA PORTUGUESA,27418,5140,0.1874680866583996
SERVIÇO SOCIAL,143186,27971,0.19534731049124915
EDUCAÇÃO FÍSICA,280538,55224,0.19685033756567738
MARKETING,43969,8738,0.19873092406013326
PROCESSOS GERENCIAIS,65797,14328,0.2177606881772725
GESTÃO FINANCEIRA,41128,9148,0.2224275432795176
LOGÍSTICA,76217,17273,0.2266292296994109
GESTÃO PÚBLICA,40409,9657,0.2389814150313049
GASTRONOMIA,27172,6758,0.24871190931841602
GESTÃO AMBIENTAL,32009,8064,0.251929144927989
GESTÃO DE RECURSOS HUMANOS,150590,38298,0.25431967594129756

### 5-Rode uma regressão multipla que explique o abandono dos cursos, 
será que professores mais/menos preparados influência nessas taxas?

### 6- Quais os cursos com maior crescimento de matriculas por região?

In [260]:
cursos = pd.read_csv('3-Dados\DM_CURSO.CSV', sep = '|', encoding='latin-1')

In [261]:
alunos = pd.read_csv('3-Dados\DM_ALUNO.CSV', sep = '|', encoding='latin-1',usecols = ['CO_ALUNO','CO_CURSO','NU_ANO_INGRESSO'])

In [262]:
grupoalunos = alunos.groupby(['NU_ANO_INGRESSO','CO_CURSO'], as_index = False).count()

In [263]:
grupoalunos.head()

   NU_ANO_INGRESSO  CO_CURSO  CO_ALUNO
0             1972      2199         1
1             1974     13398         1
2             1974     13418         1
3             1975      6811         1
4             1976     22220         1

In [264]:
cursos = cursos[['CO_CURSO','CO_OCDE','CO_UF']]

In [169]:
#cursos['CO_UF'] = cursos['CO_UF'].replace(UF)

In [265]:
grupoalunos = pd.merge(grupoalunos, cursos)

In [269]:
grupoalunos[grupoalunos['CO_OCDE'] == '624T01']

        NU_ANO_INGRESSO  CO_CURSO  CO_ALUNO CO_OCDE  CO_UF
212439             2013   1315488         1  624T01   13.0
221297             2014   1315486        36  624T01   13.0
221298             2014   1315487        39  624T01   13.0
227423             2015   1330298        41  624T01   13.0
227647             2015   1343885        38  624T01   13.0
227650             2015   1344174        36  624T01   13.0
227665             2015   1344228        23  624T01   13.0

In [270]:
del grupoalunos['CO_CURSO']
del grupoalunos['CO_UF'] #Provisorio

In [271]:
grupoalunos = grupoalunos.groupby(['NU_ANO_INGRESSO','CO_OCDE'], as_index = False).sum()

In [275]:
grupoalunos[grupoalunos['CO_OCDE'] == '421B12']

      NU_ANO_INGRESSO CO_OCDE  CO_ALUNO
2019             2009  421B12         1
2895             2012  421B12         1
3211             2013  421B12        11
3852             2015  421B12         1
4176             2016  421B12        31
4499             2017  421B12        40

In [235]:
df = pd.DataFrame(columns = grupoalunos.columns)
df['ANO_ANTERIOR'] = np.nan
for curso in grupoalunos['CO_OCDE'].unique(): #['142P01']:
    teste = grupoalunos[['NU_ANO_INGRESSO','CO_OCDE','CO_ALUNO']][grupoalunos['CO_OCDE']==curso]
    teste['ANO_ANTERIOR'] = teste['CO_ALUNO'].shift(1)
    teste.dropna(inplace = True)
    teste['Diferenca'] = (teste['CO_ALUNO'] - teste['ANO_ANTERIOR']) / teste['ANO_ANTERIOR']
    #display(teste)
    
    df = pd.concat([df,teste])

C:\Users\BRMFARIN\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [249]:
#Cursos com maior taxa de crescimento
df[['CO_OCDE','Diferenca']].groupby('CO_OCDE').mean().sort_values(by='Diferenca', ascending = False).head(5)

         Diferenca
CO_OCDE
624T01   37.420000
421B12    7.876246
522R01    6.814815
525T01    6.000000
542I01    4.626342

In [258]:
#cursos[cursos['CO_OCDE'] == '525T01']

### 7-Construa uma variável "Signo" dos estudantes e explique porque ela é correlacionada com a variável "probabilidade de formação" (construir)

In [ ]:
def signo(data):
        dia = input("digite o dia de se nascimento: ")
    mes = input("digite o mes do seu nascimento: ")
    if dia>=20 and d
    ia<=31 and mes==3 or dia>=1 and dia<=20 and  mes==4:
       print "aries"
    elif dia>=21 and dia<=30 and mes==4 or dia>=1 and dia<=20 and mes==5:
       print "touro"
    elif dia>=21 and dia<=31 and mes==5 or dia>=1 and dia<=20 and mes==6:
       print "gemeos"
    elif dia>=21 and dia<=30 and mes==6 or dia>=1 and dia<=21 and mes==7:
       print "cancer"
    elif dia>=22 and dia<=31 and mes==7 or dia>=1 and dia<=22 and mes==8:
       print "leao"
    elif dia>=22 and dia<=31 and mes==8 or dia>=1 and dia<=22 and mes==9:
       print "virgem"
    elif dia>=22 and dia<=30 and mes==9 or dia>=1 and dia<=22 and mes==10:
       print "libra"
    elif dia>=23 and dia <=31 and mes==10 or dia>=1 and dia<=21 and mes==11:
       print "escorpiao"
    elif dia>=22 and dia<=30 and mes==11 or dia>=1 and dia<=21 and mes==12:
       print "sagitario"
    elif dia>=22 and dia<=31 and mes==12 or dia>=1 and dia<=20 and mes==1:
      print "capricornio"
    elif dia>=21 and dia<=31 and mes==1 or dia>=1 and dia<=18 and mes==2:
      print "aquario"
    elif dia>=19 and dia<=29 and mes==2 or dia>=1 and dia<=19 and mes==3:
      print "peixes"
    else:
  print "mes ou dia invalido"